// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: #eee;
  color: #333;
  font-family: 'Lusitana', serif;
  font-size: 13px;
  line-height: 18px;
}
h1 {
  border-bottom: rgba(0,0,0,.4) solid 1px;
  -moz-box-shadow:    0 5px 10px -5px  rgba(0,0,0,.4);
  -webkit-box-shadow: 0 5px 10px -5px rgba(0,0,0,.4);
  box-shadow:         0 5px 10px -5px rgba(0,0,0,.4);
}
div#projects {
  margin: 0 auto;
  min-width: 500px;
  width: 45%;
}
ul {
  opacity: 1;
  margin: 0;
  padding: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition:    all .5s ease-in-out;
  -o-transition:      all .5s ease-in-out;
  transition:         all .5s ease-in-out;
  &.background {
    opacity: .55;
  }
}
li {
  display: inline-block;
  margin: 5px 5px 0 0;
}
.timer {
  font-family: 'Cutive Mono', monospace;
  background: #bbb;//#f44;
  width: 120px;
  text-align: center;
  padding: 6px;
  border-radius: 5px;
//  -moz-box-shadow:    0 0 10px rgba(0,0,0,.4);
//  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
//  box-shadow:         0 0 10px rgba(0,0,0,.4);

//  &.active {
//    background: #77FCAE;
//  }
  &:hover {
    cursor: pointer;
  }
}
