// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: #eee;
  color: #333;
  font-family: 'Lusitana', serif;
  font-size: 16px;
  line-height: 18px;
}
header {
  margin: 0;
  padding-top: 40px;
}
h1 {
  border-bottom: rgba(0,0,0,.4) solid 1px;
  padding-bottom: 1px;
  text-align: center;
  -moz-box-shadow:    0 5px 10px -5px  rgba(0,0,0,.4);
  -webkit-box-shadow: 0 5px 10px -5px rgba(0,0,0,.4);
  box-shadow:         0 5px 10px -5px rgba(0,0,0,.4);
}
div#projects {
  margin: 0 auto;
  min-width: 500px;
  width: 45%;
}
ul {
  opacity: 1;
  margin: 0;
  padding: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition:    all .5s ease-in-out;
  -o-transition:      all .5s ease-in-out;
  transition:         all .5s ease-in-out;
  &.background {
    opacity: .55;
  }
}
li {
  display: inline-block;
  margin: 5px 5px 0 0;
  &:first-child {
    width: 50%;
  };
}
.timer {
  font-family: 'Cutive Mono', monospace;
  background: #f55;
  width: 120px;
  text-align: center;
  padding: 6px;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}
.destroy {
  position: relative;
  right: -65px;
  opacity: .5;
  &:hover {
    opacity: 1;
  };
}
.right {
  float: right;
}
.left {
  float: left;
}
.dot {
  position: relative;
  bottom: -3px;
  &.right {
    right: -2px;
  }
  &.left {
    left: -2px;
  }
}