<h1>New project</h1>

<form id="new-project" name="project">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="field">
    <label for="total_time"> total_time:</label>
    <input type="text" name="total_time" id="total_time" value="<%= total_time %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Project" />
  </div>

</form>

<a href="#/index">Back</a>